<% content_for :title do %>About<% end %>
<h3>About Edmbooth</h3>
<ul>
  <li>What We Do</li>
  <li>Why We Do It</li>
  <li>Who We Do It</li>
</ul>
<p>
<%= link_to('Rooted in Oakland', root_path) %>.
</p>
