<% content_for :title do %>Privacy Policies<% end %>
<h3>Privacy Policy</h3>
<div>
  <ul>
    <li><%= 
"By using our website, you agree to consent to this Privacy Policy. This website may use Cookies, Web Beacons, and/or other similar types of monitoring technologies. A Cookie is a small piece of text that is stored by your web browser, and is often used to store your preferences for a specific website. A Web Beacon is a clear, very tiny image (1x1 pixel), and it helps us and our advertising partners understand how you use our site. We and our advertising partners use both of these technologies to help deliver advertisements about products and services that interest you. These technologies do not store any personal information about you, like your name, phone number, address, or email address." %>
    </li>
  </ul>
</div>