<% content_for :title do %>termsofuse<% end %>
<div class="row" >
  <div>
      <h1 id="tou">TERM OF USE </h1>
      <p>Welcome to the website of Edmbooth! We built our site to share information about our company, and what we do here at Edmbooth.</p>
      <p>The following terms govern your access to and use the edmbooth website, including any content and services offered via our website. By using our website, you agree to these terms.</p>
      <p>We may revise and update these terms from time to time. All changes are effective immediately when we post them. Your continued use of our website following the posting of revised terms means that you accept and agree to the changes.</p>
      <h2>Privacy</h2>
      <p>We value your privacy. Please review our privacy policy to understand our privacy practices. All information you provide to us to establish an account via website or otherwise is subject to our privacy policy</p>
      <h2>Trademarks</h2>
      <p>Edmbooth and the Edmbooth logo are registered trademarks of edmbooth,llc. you must not use these trademarks without our prior written permission. All other names, logos, product and services names, designs and slogans that may appear on this website are the trademarks of their respective owners.</p>
  </div>
</div>