/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require_self
 */

/* Overides Start */
h1, h2, h3, h4, h5, h6 {
	line-height: inherit;
	font-size: inherit;
	text-rendering: optimizeLegibility;
}
/* sticky footer */
 #mobileFooter .centerHorizListWrapper {
 	text-align: center;
 }
 #mobileFooter .centerHorizList > li {
 	display:inline-block;
 }
 #mobileFooter #footerLinks {
 	text-align: center;
 }
 #mobileFooter #footerMiniLinks li {
 	padding: 0.6em;
 	font-size: .6em;
 	white-space: nowrap;
 }
 
//E55B3C
//D7F518
  .top-bar {background: #E55B3C;}
  .top-bar-section li a:not(.button) {background: #E55B3C !important;}
  .top-bar-section li a:not(.button):hover {background: #D7F518 !important;}
  .top-bar-section ul li.active > a {background: gray !important;}
  .top-bar-section ul li.active > a:hover {background: yellow !important;}






