<div class="stickyFooter" id="mobileFooter">
  <div class="footerLinksWrapper">
    
    <div class="row centerHorizListWrapper">
      <ul class="centerHorizList" id="footerMiniLinks">
        <li><%= link_to 'Submit New Event', new_event_path  %></li>
        <li>|</li>
        <li><%= link_to 'Terms of Use', page_path('terms') %></li>
        <li>|</li>
        <li><%= link_to 'Privacy', page_path('privacy') %></li>
        <li>|</li>
        <li> &copy; Edmbooth, 2016 </li>
      </ul>
    </div>
  </div>
</div>
